[package]
name = "config_loader"
version = "0.1.1"
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish.workspace = true

[dependencies]
_workspace-hack = { version = "0.1", path = "../_workspace-hack" }
